@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
}

header {
  background-color: #2e7d32;
  color: white;
  text-align: center;
  padding: 32px;
}

.card {
  margin: 32px 10%;
  padding: 16px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(76, 175, 80, 0.5);

  p {
    font-size: 19.2px;
    text-align: justify;
  }

  h2 {
    color: #004d40;
    font-weight: 700;
  }

  h1 {
    margin: 0;
    font-size: 40px;
  }

  ul {
    margin: 16px 0;
    padding-left: 24px;
  }

  li {
    font-size: 17.6px;
    margin-bottom: 8px;
    color: #004d40;
  }

  img {
    object-fit: fill;
    width: 30%;
    height: auto;
    border-radius: 8px;
  }
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
}

.mural-fotos {
  margin: 40px 10%;
}

.grid-fotos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.fotos {
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(76, 175, 80, 0.5);

  img {
    object-fit: fill;
    width: 100%;
    height: 100%;
  }
}

.hosteis-lista {
  margin: 24px auto;
  max-width: 800px;
  padding: 32px;
  border-radius: 8px;

  h3 {
    color: #004d40;
    font-size: 24px;
    margin: 0;
    text-align: center;
  }

  hr {
    border: 1px solid #004d40;
  }

  ul {
    margin: 16px 0;
    padding-left: 24px;
  }

  li {
    font-size: 17.6px;
    margin-bottom: 8px;
    color: #004d40;
  }
}

.lugares-visitar {
  margin: 24px auto;
  max-width: 800px;
  border-radius: 8px;
  padding: 24px;

  h2 {
    color: #004d40;
    text-align: center;
    margin-bottom: 16px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: left;
  }

  th {
    background-color: #4CAF50;
    color: white;
  }
}